<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <context:component-scan base-package="com.entity"/>
    <!-- 引入jdbc配置文件db.properties -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.properties"/>
    </bean>

    <!-- 使用spring jdbc中的类建立数据源 -->
    <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.pass}"/>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${db.initialSize}"/>
        <!-- 连接池最大数量 -->
        <property name="maxActive" value="${db.maxActive}"/>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${db.maxIdle}"/>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${db.minIdle}"/>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${db.maxWait}"/>
    </bean>
    <!-- SqlSessionFactory -->
    <bean id="sf" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"/>
        <!-- com.entity.Student 可以写 sutdent -->
        <property name="typeAliasesPackage" value="com.entity"/>
        <property name="configLocation" value="classpath:mybatis-conf.xml"></property>
        <property name="mapperLocations" value="classpath:com/mapper/*Mapper.xml"/>
    </bean>

    <!-- SqlSession -->
    <bean id="session" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sf"/>
    </bean>

    <!-- 扫描mapper包 自动在spring中生成 xxxxMapper bean -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sf"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds"/>
    </bean>
    <!-- 配置自动扫描的包 -->
    <context:component-scan base-package="com.controller" />

    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>
